html{
	background: #e6e6e6;
}
* {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

/*Header Section*/
.container {
	display: flex;
	flex-wrap: wrap;
	background: white;
	width: 30%;
	margin: 10px auto;
	padding: 0 15px;
	justify-content: center;
}
.container .max-width {
	display: flex;
	align-items: center;
}
.container .max-width .logo {
	display: inline-block;
}
.container .max-width .content {
	display: inline-block;
	text-transform: uppercase;
	text-align: center;
}
.container .max-width .content .capital {
	text-transform: capitalize;
}

/*National Anthem*/

.container .title {
	text-transform: capitalize;
	text-align: center;
}
.container .title h2 {
	margin:  10px 0;
}
.container .title .content p {
	text-transform: capitalize;
	padding: 15px 0;
}

/*Footer Section*/
footer img {
	text-align: center;
	margin: 20px 0;
}

/*Media Quiries*/
@media (max-width: 1025px) {
	.container {
		display: flex;
		flex-wrap: wrap;
		width: 30%;
		margin: 0 auto;
	}
	.container .title .content {
		font-size: 18px;
	}
}
@media (max-width: 1024px) {
	.container {
		display: flex;
		flex-wrap: wrap;
		width: 80%;
		margin: 0 auto;
	}
	.container .title .content {
		font-size: 20px;
	}
	.container .title iframe {
		width: 760px;
		height: 515px;
	}
}
@media (max-width: 991px) {
	.container {
		display: flex;
		flex-wrap: wrap;
		width: 80%;
		margin: 0 auto;
	}
	.container .title .content {
		font-size: 20px;
	}
	.container .title iframe {
		width: 660px;
		height: 415px;
	}
}
@media (max-width: 767px) {
	html {
		background: #e6e6e6;
	}
	.container {
		display: flex;
		flex-wrap: wrap;		
		width:90%;
		margin: 0 auto;
			
	}
	.container .max-width {
		display: inline-block;
		align-items: center;
		margin: 20px 0;
		justify-content: center;
	}
	.container .max-width .logo img {
		width: 50px;
		height: 50px;

	}
	.container .max-width .content {
		font-size: 10px;
		text-align: center;
	}
	.container .title iframe {
		width: 560px;
		height: 415px;
	}
}
@media (max-width: 667px) {
	html {
		background: #e6e6e6;
	}
	.container {
		display: flex;
		flex-wrap: wrap;		
		width: 90%;
		margin: 0 auto;
			
	}
	.container .max-width {
		display: inline-block;
		align-items: center;
		margin: 20px 0;
		justify-content: center;
	}
	.container .max-width .logo img {
		width: 60px;
		height: 60px;

	}
	.container .max-width .content {
		font-size: 12px;
		text-align: center;
	}
	.container .title iframe {
		width: 460px;
		height: 315px;
	}
}
